---
import Layout from "../../layouts/layout.astro"
import Intro from "../../components/Intro.vue"
import Whatsapp from "../../components/Whatsapp.vue"
import {Directus} from "@directus/sdk"
import MediaElement from "../../components/MediaElement.vue"
import BookingForm from "../../components/BookingForm.vue"

// src/pages/properties/[property].astro
export async function getStaticPaths() {
  const directus = new Directus(import.meta.env.PUBLIC_CMS_LOCATION)

	const plots_data = await directus.items('m_plots').readByQuery({
		filter:{
			"_and":[
				{
					"status":{
						"_eq":"published"
					}
				}
			]
		},
		limit:-1,
		fields:['slug']
	}).catch(console.error('A network error occured. Unable to load plots'))

	const plots = plots_data.data

  let store = []

  plots.map((item) => {
    let data = {}
    data.params = {}
    data.params.property = item.slug
    store.push(data)
  })
  
  return store
}

const data_url = import.meta.env.PUBLIC_CMS_LOCATION
const directus = new Directus(data_url)
const {property} = Astro.params

const plot_data = await directus.items('m_plots').readByQuery({
	filter:{
		"_and":[
			{
				"status":{
					"_eq":"published"
				}
			},
			{
				"slug":{
					"_eq":property
				}
			}
		]
	},
	fields:['plot_name,plot_location,plot_price,suitability,files.*,plot_description,slug']
}).catch(console.error('A network error occured. Unable to load plots'))

const plot = plot_data.data[0]
---

<Layout title={plot.plot_name} description={plot.plot_description}>
	<Intro 
		background="/images/home.webp"
		title={plot.plot_name}
		description="View the property details below"
	/>
	<div class="container mx-auto my-6">
		<h2 class="text-2xl md:text-3xl lg:text-4xl uppercase text-center dark:text-white">
	    {plot.plot_name}
	  </h2>
	  <div class="grid lg:grid-cols-4 gap-2 my-2">
	  	<div class="bg-white dark:bg-stone-700 p-2 shadow-md rounded-lg lg:col-span-3 relative">
	  		<MediaElement 
			   client:load
			   images={plot}
			   link={import.meta.env.PUBLIC_CMS_LOCATION}
			  />
	  	</div>
	  	<BookingForm client:load />
	  </div>
	  <div class="mt-2 text-lg bg-white dark:bg-stone-800 shadow-md rounded p-2 dark:text-white mt-6">
	    <h2 class="text-2xl md:text-3xl lg:text-4xl lg:font-black capitalize text-center dark:text-white mt-3 pb-4">
	      Property Details
	    </h2>
	    <div class="grid place-content-center">
	    	<div set:html={plot.plot_description} class="prose dark:prose-invert"></div>
	    </div>
	  </div>
	</div>
	<Whatsapp client:load />
</Layout>
